<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Realty</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <div class="fon">
            <div class="wrapper">
                @@include("../blocks/modules/header/header.html")
                <main class="main">
                    <div class="main-item">
                        <h1 class="main__title">Жилой комплекс HOMEFOR - это жизнь с комфортом</h1>
                        <p class="main__description">Мы охватываем все важные этапы проектирования и строительство дома, а также повседневная эксплуатация после окончания</p>
                        <a href="#" class="main__btn">подробнее</a>
                    </div>
                    <div class="main-item">
                        <h1 class="main__title">Жилой комплекс HOMEFOR - это жизнь с комфортом</h1>
                        <p class="main__description">Мы охватываем все важные этапы проектирования и строительство дома, а также повседневная эксплуатация после окончания</p>
                        <a href="#" class="main__btn">подробнее</a>
                    </div>
                    <div class="main-item">
                        <h1 class="main__title">Жилой комплекс HOMEFOR - это жизнь с комфортом</h1>
                        <p class="main__description">Мы охватываем все важные этапы проектирования и строительство дома, а также повседневная эксплуатация после окончания</p>
                        <a href="#" class="main__btn">подробнее</a>
                    </div>
                </main>
            </div>
        </div>
        <div class="wrapper">
            <section class="section-type">
                <div class="type-select">
                    <div class="type-select-box">
                        <select class="type-select__object" name="speed" id="speed">
                            <option selected="selected">Тип объекта</option>
                            <option>Загородные дома</option>
                            <option>Городские квартиры</option>
                        </select>
                        <img src="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAqklEQVQYlV3QsUqCcRSG8Z/WoIsgQml0CQriVehFOOSQS0RrQhcgOjsJzg1uTiIubt6AOIe0NrYlB74v/vqsz+Gc97yFdquzxRIz/Em4qd83vvGGB+zSgVus8YMpqnjHb8hiNrTHEM1sfSWVwQED1DDHXSqDLzyhjMW1DLpoYBWBcgp4QR8TfOYyNnyghxE2+SsljNHGa5b8/8+I/ohnHNPjIaOVKOJ0EQtnaqAcL+nLxPcAAAAASUVORK5CYII=" alt="">
                    </div>
                    <div class="type-select-box">
                        <select class="type-select__district" name="speed" id="speed">
                            <option selected="selected">Район</option>
                            <option>Арбат</option>
                            <option>Басманный</option>
                            <option>Замоскворечье</option>
                            <option>Красносельский</option>
                            <option>Хамовники</option>
                        </select>
                    </div>
                    
                </div>
                <div class="type-input">
                    <div >
                        <div class="type-input__item type-input__square">
                            <div class="type-input__item-box">
                                <p class="type-input__item-text">Площадь</p>
                            </div>
                            <div class="type-input__item-box">
                                <input type="text"> м2
                            </div>
                        </div>
                        <div>
                            <input class="type-input__item-range" oninput="out.value=input-range.value" id="input-range" type="range" min="0" max="1000" step="1" value="120">
                            <output for="input-range" id="out">120</output>
                        </div>
                    </div>
                    <div class="type-input__item">
                        <div class="type-input__item-box">
                            <p class="type-input__item-text">Цена за м2</p>
                        </div>
                        <div class="type-input__item-box">
                            <input type="text"> тыс
                        </div>
                    </div>
  
                </div>
            </section>
            <section class="section-suburban">
                <h2 class="title-h2">Загородные дома</h2>
                <p class="suburban-description">Наши дома расположились в уютных районах Екатеринбурга: Верх-Исетский район, Железнодорожный район, Чкаловский район</p>
                <div class="suburban-slider">
                    <div class="slider-item">
                        <div class="slider-img">
                            <h3 class="slider-img__title">Дом "Брусника"</h3>
                            <p class="slider-img__adress">ул. Карла Маркса, 60, Екатеринбург</p>
                        </div>
                        <div class="slider-details">
                            <p class="slider-details__item">200 м2</p>
                            <p class="slider-details__item">10 сот</p>
                            <p class="slider-details__item">с отделкой</p>
                        </div>
                        <div class="slider-price">7 005 456 500 &#8381;</div>
                    </div>
                    <div class="slider-item">
                        <div class="slider-img">
                            <h3 class="slider-img__title">Дом "Брусника"</h3>
                            <p class="slider-img__adress">ул. Карла Маркса, 60, Екатеринбург</p>
                        </div>
                        <div class="slider-details">
                            <p class="slider-details__item">200 м2</p>
                            <p class="slider-details__item">10 сот</p>
                            <p class="slider-details__item">с отделкой</p>
                        </div>
                        <div class="slider-price">7 005 456 500 &#8381;</div>
                    </div>
                    <div class="slider-item">
                        <div class="slider-img">
                            <h3 class="slider-img__title">Дом "Брусника"</h3>
                            <p class="slider-img__adress">ул. Карла Маркса, 60, Екатеринбург</p>
                        </div>
                        <div class="slider-details">
                            <p class="slider-details__item">200 м2</p>
                            <p class="slider-details__item">10 сот</p>
                            <p class="slider-details__item">с отделкой</p>
                        </div>
                        <div class="slider-price">7 005 456 500 &#8381;</div>
                    </div>
                    <div class="slider-item">
                        <div class="slider-img">
                            <h3 class="slider-img__title">Дом "Брусника"</h3>
                            <p class="slider-img__adress">ул. Карла Маркса, 60, Екатеринбург</p>
                        </div>
                        <div class="slider-details">
                            <p class="slider-details__item">200 м2</p>
                            <p class="slider-details__item">10 сот</p>
                            <p class="slider-details__item">с отделкой</p>
                        </div>
                        <div class="slider-price">7 005 456 500 &#8381;</div>
                    </div>
                    <div class="slider-item">
                        <div class="slider-img">
                            <h3 class="slider-img__title">Дом "Брусника"</h3>
                            <p class="slider-img__adress">ул. Карла Маркса, 60, Екатеринбург</p>
                        </div>
                        <div class="slider-details">
                            <p class="slider-details__item">200 м2</p>
                            <p class="slider-details__item">10 сот</p>
                            <p class="slider-details__item">с отделкой</p>
                        </div>
                        <div class="slider-price">7 005 456 500 &#8381;</div>
                    </div>
                    <div class="slider-item">
                        <div class="slider-img">
                            <h3 class="slider-img__title">Дом "Брусника"</h3>
                            <p class="slider-img__adress">ул. Карла Маркса, 60, Екатеринбург</p>
                        </div>
                        <div class="slider-details">
                            <p class="slider-details__item">200 м2</p>
                            <p class="slider-details__item">10 сот</p>
                            <p class="slider-details__item">с отделкой</p>
                        </div>
                        <div class="slider-price">7 005 456 500 &#8381;</div>
                    </div>
                </div>
            </section>
        </div>
        @@include("../blocks/modules/footer/footer.html")
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="../js/index.js"></script>
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
        <script>
            $('.main').slick({
                dots: true,
                arrows: false
            });
            $( "#speed" ).selectmenu();
            $('.suburban-slider').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 2
            });
        </script>

    </body>
</html>
